@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

body {
  font-family: Rubik;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #4f5665;
  background-color: #f6f6f6;
}

h1,h2,h3,h4,h5,h6 {
  color: #000;
}

img {
  width: 100%;
  height: 100%;
}

nav {
  margin-top: 24px;
}

.navbar-brand-img {
  width: 150px;
}

.btn-in {
  color: #000;
  font-weight: 500;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  margin-right: 10px;
  transition: all 0.4s;
  border-bottom: 2px solid transparent;
}

a.btn-in:hover {
  color: #000;
  text-decoration: none;
  border-bottom:  2px solid #000;
}

.btn-up {
  color: #F53838;
  font-weight: 500;
  border: 1px solid #F53838;
  border-radius: 30px;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  padding: 9px 44px;
  transition: all 0.4s;
}

a.btn-up:hover {
  color: #fff;
  text-decoration: none;
  background-color: #F53838;
}

a.button-cub {
  color: #FFFFFF;
  font-weight: 500;
  padding: 17px 77px;
  background-color: #F53838;
  transition: all 0.4s;
  border-radius: 10px;
  margin-top: 50px;
  box-shadow: 0px 22px 40px rgba(245, 56, 56, 0.35);
}


.main-wrapper {
  margin: 100px 0;
}

.title-main {
  font-size: 50px;
}

.numbs-wrapper {
  height: 200px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 22px 40px rgba(61, 61, 61, 0.048);
}

.nubm-title-wrappers {
  margin-left: 24px;
}

.numb-title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
  color: #0B132A;
}

.subtitle {
  font-size: 20px;
  line-height: 30px;
  color: #4F5665;
}

.plans-block
{
  margin: 80px 0;
}

.plans-column-wrapper {
  width: 100%;
}

.network-title-wrapper {
  text-align: center;
}

.sponsored-wrapper img {
  width: 190px;
}

.slider .img-wrapper {
  width: 35px;
}

.icon-facebook {
  background-color: red;
}



@media (max-width: 769px) {
  .img-main {
  }
}
